@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/*.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0.18cm;
  width: 8cm;
  height: 1.2cm;
}*/
input#name.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0.18cm;
  width: 12cm;
  height: 1.2cm;
}
input#email.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0.18cm;
  width: 12cm;
  height: 1.2cm;
}

input#password.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0.18cm;
  width: 12cm;
  height: 1.2cm;
}
input#confirmPassword.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0.18cm;
  width: 12cm;
  height: 1.2cm;
}
input#q.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0.18cm;
  width: 8cm;
  height: 1.2cm;
}
.ElementsApp .InputElement.is-invalid {
  color: #04185f;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto Slab', cursive,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer,
header {
  background-image: linear-gradient(to right, #121b22, #204254, #b94a3e);
  color: #b94a3e;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #b94a3e;
}
.card-title {
  text-decoration-line: none;
  color: #121b22;
}
.fa-bars {
  color: #b94a3e;
}
.navbar-light .navbar-brand {
  color: #b94a3e;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-primary,
.btn-outline-primary {
  background-color: #b94a3e;
  color: #ffffff;
}
.rating span {
  color: #ffc000;
}
.product {
  border: 1px #b94a3e solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #b94a3e;
  color: #b94a3e;
}
/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-image: linear-gradient(#121b22, #204254, #b94a3e);
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
/*
ElementsApp,
.ElementsApp .InputElement {
  color: #282c34;
  font-weight: 500;
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

button {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

.App {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
}

h1,
h3 {
  text-align: center;
}*/

/* Dashboard */

/*.summary > .row summary {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}*/
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}
button.thumbnail {
  padding: 0;
}

/*footer.contact {
}*/
